// src/theme/_variables-dark.scss

.theme-dark,
[data-theme="dark"] {
  --theme-base00: var(--color-abyss-950);
  --theme-base01: var(--color-wraith-900);
  --theme-base02: var(--color-wraith-800);
  --theme-base03: var(--color-wraith-400);
  --theme-base04: var(--color-lacuna-700);
  --theme-base05: var(--color-archangel-900);
  --theme-base06: var(--color-archangel-500);
  --theme-base07: var(--color-archangel-50);
  --theme-base08: var(--color-ember-400);
  --theme-base09: var(--color-icarus-100);
  --theme-base0A: var(--color-stardust-100);
  --theme-base0B: var(--color-absynthe-500);
  --theme-base0C: var(--color-absynthe-300);
  --theme-base0D: var(--color-cherenkov-100);
  --theme-base0E: var(--color-fugue-100);
  --theme-base0F: var(--color-xenon-100);
  --theme-info: var(--color-cherenkov-300);
  --theme-comment: var(--color-comment-dark);
  --theme-selection: var(--color-selection-dark);
  --theme-focus: var(--color-cherenkov-100);
  --theme-warm-surface: var(--color-abyss-500);
  --theme-error-surface: var(--color-error-surface-dark);
  --theme-info-surface: var(--color-info-surface-dark);
  --theme-success-surface: var(--color-success-surface-dark);
  --theme-warning-surface: var(--color-warning-surface-dark);
  --theme-shadow-xs: var(--shadow-dark-xs);
  --theme-shadow-sm: var(--shadow-dark-sm);
  --theme-shadow-md: var(--shadow-dark-md);
  --theme-shadow-lg: var(--shadow-dark-lg);
  --theme-shadow-xl: var(--shadow-dark-xl);
  --theme-wallpaper-collection: var(--wallpapers-mephisto);
}
