// src/tokens/_fonts.scss

:root {
  --font-family-sans: "Work Sans", sans-serif;
  --font-family-sans-alt: "Inter", sans-serif;
  --font-family-serif: "Georgia", serif;
  --font-family-serif-alt: "Noto Serif", serif;
  --font-family-mono: "JetBrains Mono", monospace;
  --font-family-mono-alt: "Iosevka Term", monospace;
  --font-family-icons: "JetBrainsMono Nerd Font", monospace;
  --font-family-icons-alt: "Fira Code", monospace;
  --font-size-2xs: 0.64rem;
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5625rem;
  --font-size-2xl: 1.953rem;
  --font-size-3xl: 2.441rem;
  --font-size-4xl: 3.052rem;
  --font-size-5xl: 3.815rem;
  --font-size-6xl: 4.768rem;
  --font-size-7xl: 5.96rem;
  --font-size-8xl: 7.451rem;
  --font-size-9xl: 9.313rem;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 1.75;
  --line-height-extra: 2;
  --line-height-double: 2.5;
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;
  --letter-spacing-loose: 0.2em;
  --text-transform-none: none;
  --text-transform-uppercase: uppercase;
  --text-transform-lowercase: lowercase;
  --text-transform-capitalize: capitalize;
  --text-transform-full-width: full-width;
  --font-style-normal: normal;
  --font-style-italic: italic;
  --font-style-oblique: oblique;
  --font-numeric-normal: normal;
  --font-numeric-ordinal: ordinal;
  --font-numeric-slashed-zero: slashed-zero;
  --font-numeric-lining: lining-nums;
  --font-numeric-oldstyle: oldstyle-nums;
  --font-numeric-proportional: proportional-nums;
  --font-numeric-tabular: tabular-nums;
  --font-numeric-diagonal-fractions: diagonal-fractions;
  --font-numeric-stacked-fractions: stacked-fractions;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --text-decoration-overline: overline;
  --text-decoration-line-through: line-through;
  --text-decoration-style-solid: solid;
  --text-decoration-style-double: double;
  --text-decoration-style-dotted: dotted;
  --text-decoration-style-dashed: dashed;
  --text-decoration-style-wavy: wavy;
  --text-underline-offset-auto: auto;
  --text-underline-offset-0: 0;
  --text-underline-offset-1: 1px;
  --text-underline-offset-2: 2px;
  --text-underline-offset-4: 4px;
  --text-underline-offset-8: 8px;
  --word-break-normal: normal;
  --word-break-all: break-all;
  --word-break-keep: keep-all;
  --hyphens-none: none;
  --hyphens-manual: manual;
  --hyphens-auto: auto;
  --whitespace-normal: normal;
  --whitespace-nowrap: nowrap;
  --whitespace-pre: pre;
  --whitespace-pre-line: pre-line;
  --whitespace-pre-wrap: pre-wrap;
  --whitespace-break-spaces: break-spaces;
}
