// src/tokens/_wallpapers.scss

:root {
  --wallpapers-aria: "aria";
  --wallpapers-dante: "dante";
  --wallpapers-desesseintes: "desesseintes";
  --wallpapers-dorian: "dorian";
  --wallpapers-eurydice: "eurydice";
  --wallpapers-fiora: "fiora";
  --wallpapers-edmond: "edmond";
  --wallpapers-prospero: "prospero";
  --wallpapers-maldoror: "maldoror";
  --wallpapers-sylvia: "sylvia";
  --wallpapers-tartaglia: "tartaglia";
  --wallpapers-mephisto: "mephisto";
}
